# Parte 3: Calculando analíticas simples
Continuando con el DataFrame con todos los datos de la anterior subsección, ahora debes:

1.Verificar que los tipos de datos son correctos en cada colúmna (por ejemplo que no existan colúmnas numéricas en formato de cadena).

2.Calcular la cantidad de hombres fumadores vs mujeres fumadoras (usando agregaciones en Pandas).

In [6]:
import pandas as pd
from datasets import load_dataset


dataset = load_dataset("mstz/heart_failure")
data = dataset["train"]

df = pd.DataFrame(data)
df

,age,has_anaemia,creatinine_phosphokinase_concentration_in_blood,has_diabetes,heart_ejection_fraction,has_high_blood_pressure,platelets_concentration_in_blood,serum_creatinine_concentration_in_blood,serum_sodium_concentration_in_blood,is_male,is_smoker,days_in_study,is_dead
0,75,False,582.0,False,20.0,True,265000.00,1.9,130.0,True,False,4,1
1,55,False,7861.0,False,38.0,False,263358.03,1.1,136.0,True,False,6,1
2,65,False,146.0,False,20.0,False,162000.00,1.3,129.0,True,True,7,1
3,50,True,111.0,False,20.0,False,210000.00,1.9,137.0,True,False,7,1
4,65,True,160.0,True,20.0,False,327000.00,2.7,116.0,False,False,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62,False,61.0,True,38.0,True,155000.00,1.1,143.0,True,True,270,0
295,55,False,1820.0,False,38.0,False,270000.00,1.2,139.0,False,False,271,0
296,45,False,2060.0,True,60.0,False,742000.00,0.8,138.0,False,False,278,0
297,45,False,2413.0,False,38.0,False,140000.00,1.4,140.0,True,True,280,0
298,50,False,196.0,False,45.0,False,395000.00,1.6,136.0,True,True,285,0

In [8]:
tipos_de_datos = df.dtypes
print("Tipos de datos en cada columna:")
print()
print(tipos_de_datos)

Tipos de datos en cada columna:

age                                                  int64
has_anaemia                                           bool
creatinine_phosphokinase_concentration_in_blood    float64
has_diabetes                                          bool
heart_ejection_fraction                            float64
has_high_blood_pressure                               bool
platelets_concentration_in_blood                   float64
serum_creatinine_concentration_in_blood            float64
serum_sodium_concentration_in_blood                float64
is_male                                               bool
is_smoker                                             bool
days_in_study                                        int64
is_dead                                              int64
dtype: object

' cantidad_hombres_fumadores = df[df[\'is_male\'] == 1][\'is_smoker\'].sum()\ncantidad_mujeres_fumadoras = df[df[\'is_male\'] == 0][\'is_smoker\'].sum()\n\nprint("Cantidad de hombres fumadores:", cantidad_hombres_fumadores)\nprint("Cantidad de mujeres fumadoras:", cantidad_mujeres_fumadoras)\n '

In [9]:
hombres_fumadores = df[df['is_male'] == 1]['is_smoker'].sum()
mujeres_fumadoras = df[df['is_male'] == 0]['is_smoker'].sum()

print("Cantidad de hombres fumadores:", hombres_fumadores)
print("Cantidad de mujeres fumadoras:", mujeres_fumadoras)

Cantidad de hombres fumadores: 92
Cantidad de mujeres fumadoras: 4